@import "/src/variables.scss";


:host{
  text-align: center;
}
p:last-child {
  margin-top: 3rem;
}

.button{
  background-color: $magenta;
  padding: 0.5rem;
  border-radius: 5px;
  color: $white;
  &:hover{
    color: $black;
    background-color: $hotmag;
  }
}



input{
  height: 26px;
  width: 80%;
}

small{
  color: $aqua;
  display: block;
  font-size: 70%;
}
