<h2>About Cristhian Castro</h2>
<article>
  <div class="text">
    <h3>Just the highlights</h3>
    <p class="blackbox">
      Experienced Bolivian Software Engineer, with great interest in
      development. I like to help businesses, bringing them high tech solutions.
    </p>
    <h4>My favorite technologies include:</h4>
    <ul>
      <li>SQL</li>
      <li>NodeJS</li>
      <li>TypeScript</li>
    </ul>
  </div>
  <img src="../../../assets/unicorn.png" alt="Cristhian Castro" />
</article>
