<nav>
  <ul>
    <li>
      <h1>
        <a href=""> <i class="fa-solid fa-bolt"></i> Cristhian Castro</a>
      </h1>
    </li>
    <li><a href="">Projects</a></li>
    <li><a href="">About</a></li>
    <li>
      <a href=""> Contact</a>
    </li>
    <li>
      <a href="https://github.com/cbcrisel">
        <i class="fa-brands fa-github"></i> Github</a
      >
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/cristhian-castro-balderas-a4376b205/"
      >
        <i class="fa-brands fa-linkedin"></i> LinkedIn</a
      >
    </li>
    <li><a href="" class="button">Resume</a></li>
  </ul>
</nav>
