@import "/src/variables.scss";

:host{
  font-family: $mono;
  font-size: 80%;
  padding: 1rem;
}

h1 a{
  font-family: $sans;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  & li:first-child{
    flex-basis: 100%;
    text-align: center;
  }
}

nav a{
  color: $white;
  text-decoration: none;
  display: block;

  &:hover{
    color: $magenta;
  }
}

nav [class*="fa-"] {
  font-size: 150%;
  color: $aqua;

  &:hover{
    color: $magenta;
  }
}

.button{
  background-color: $magenta;
  padding: 0.5rem;
  border-radius: 5px;

  &:hover{
    color: $black;
    background-color: $hotmag;
  }
}

@media (min-width: 850px) {
  nav{
    max-width: 1200px;
    margin: 0 auto
  }
  nav li:first-child{
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}
